@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: 'Lexend', sans-serif;
}

h1{
    font-family: 'Lexend', sans-serif;
    font-weight: 700; 
}

footer{
    align-items: center;    
    justify-content: center;
    text-align: center;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 5px 30px;
    background-color: #2c3e50;
    color: white;
}


